body {
    font-family: 'Raleway', sans-serif;
}

#container {
    /* border: solid 1px black; */
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Cards {
    width: 90%;
    box-shadow: 2px 2px 2px 2px #455A64;
    margin-bottom: 15px;
    border: solid 1px black;
}

img {
    margin: auto;
    width: 100%;
    height: 340px;
}

#sold_out {
    position: absolute;
}

h2 {
    text-align: center;
}

.title {
    border: solid 1px lightblue;
    color: white;
    background-color:
}

.description {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.Availability {
    width: 100%;
    color: yellow;
    background-color: darkgray;
}

.section_one {
    position: relative;
}

.section_two p {
    font-weight: bold;
}

.section_three p {
    font-weight: bold;
}



.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


@media screen and (min-width: 550px) {
#container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.Cards {
    width: 45%;
    box-shadow: 2px 2px 2px 2px #455A64;
    margin-bottom: 15px;
    border: solid 1px black;
}
}

@media screen and (min-width: 900px) {
    #container {
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
    }
    
    .Cards {
        width: 30%;
        box-shadow: 2px 2px 2px 2px #455A64;
        margin-bottom: 15px;
        border: solid 1px black;
    }
}