#container {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Cards {
    width: 30%;
    box-shadow: 2px 2px;
    margin-bottom: 15px;
}

img {
    width: 100%;
    margin: auto;
}

h2 {
    text-align: center;
}

.title {
    border: solid 1px lightblue;
}

.description {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.section_two p {
    font-weight: bold;
}

.section_three p {
    font-weight: bold;
}